<script>
  path("i18n.payment.form", {
    item: "{{ get_string("purchase-item-name", "payment-form") }}",
    min_once: '{{ get_string("min-donation-warning", "payment-form") }}',
    min_monthly: '{{ get_string("min-subscription-warning", "payment-form") }}',
    min_yearly: '{{ get_string("min-subscription-yearly-warning", "payment-form") }}'
  });
</script>

<div class="payment-form-skeleton" role="presentation" aria-hidden="true">
  <div style="padding-top: .5rem;">
    <div class="skeleton" style="height: 2rem;width: 20rem;"></div>
  </div>
  <div class="grid small-full large-fit" style="padding-top: 1rem; width: 45.5rem; max-width: 100%;">
    <div class="cell" style="padding-top: .5rem;">
      <div class="skeleton" style="height: 5.5rem; width:100%;"></div>
    </div>
    <div class="cell" style="padding-top: .5rem;">
      <div class="skeleton" style="height: 5.5rem; width: 100%;"></div>
    </div>
    <div class="cell" style="padding-top: .5rem;">
      <div class="skeleton" style="height: 5.5rem; width: 100%;"></div>
    </div>
  </div>
  <div style="padding-top: .5rem;">
    <div class="skeleton" style="height: 2rem;width: 24rem;"></div>
  </div>
  <div style="padding-top: .5rem;">
    <div class="skeleton" style="height: 2rem; width: 14.5rem;"></div>
  </div>
</div>

<form id="payment-form" class="payment-form" data-provider="stripe">

  <input type="hidden" id="payment-frequency" name="frequency" value="once" />

  <header id="payment-header" class="payment-header"></header>

  <script id="payment-header-template" type="text/html">    
    <% if (currencies.length > 1) { %>
      <h2 class="payment-heading multi-currency">
        {{ get_string("fair-amount-header-2", "payment-form") }}
      </h2>
      <select id="payment-currency" name="currency" class="payment-currency">
      <% _.each(currencies, function(currency) { %>
        <option><%- currency %></option>
      <% }) %>
      </select>
    <% } else { %>
      <h2 class="payment-heading single-currency">
        <%- "{{ get_string("fair-amount-header-1", "payment-form") }}".replace("{currency}", currencies[0]) %>
      </h2>
    <% } %>
  </script>

  <div id="payment-frequencies" class="payment-frequencies"></div>

  <script id="payment-frequencies-template" type="text/html">
    <% if (config.once) { %>
      <fieldset class="payment-frequency once">
        <legend>
          {{ get_string("one-time-legened-1", "payment-form") }}
        </legend>
        <div class="payment-amounts">
          <%= _amounts(_.extend({frequency: "once", sign: config.sign}, config.once)) %>
        </div>
      </fieldset>
    <% } %>
    <% if (config.monthly) { %>
      <hr class="payment-divide">
      <fieldset class="payment-frequency monthly">
        <legend>
          {{ get_string("subscription-legend-1", "payment-form") }}
        </legend>
        <div class="payment-amounts">
          <%= _amounts(_.extend({frequency: "monthly", sign: config.sign}, config.monthly)) %>
        </div>
      </fieldset>
    <% } %>
    <% if (config.yearly) { %>
      <hr class="payment-divide">
      <fieldset class="payment-frequency yearly">
        <legend>
          {{ get_string("yearly-subscription-legend-1", "payment-form") }}
        </legend>
        <div class="payment-amounts">
          <%= _amounts(_.extend({frequency: "yearly", sign: config.sign}, config.yearly)) %>
        </div>
      </fieldset>
    <% } %>
  </script>

  <script id="payment-amounts-template" type="text/html">
    <div class="payment-amounts-row">
    <% _.each(amounts, function(amount, index) { %>
      <label class="payment-amount">
        <input
          type="radio"
          name="amount"
          value="<%- amount %>"
          data-frequency="<%- frequency %>"
        <% if (frequency == "once" && amount == 35) { %>
          checked
        <% } %>>
        <%- sign %><%- amount %>
      </label>
      <% if (
        (index + 1) % 3 == 0
        && index != amounts.length
      ) { %>
      </div>
      <div class="payment-amounts-row">
      <% } %>
    <% }) %>
      <span class="payment-amount custom-payment-amount">
        <input
          id="custom-<%- frequency %>-radio"
          data-input="custom-<%- frequency %>-amount"
          data-frequency="<%- frequency %>"
          value="custom-<%- frequency %>-amount"
          type="radio"
          name="amount">
        <%- sign %>
        <input
          id="custom-<%- frequency %>-amount"
          name="custom-<%- frequency %>-amount"
          data-radio="custom-<%- frequency %>-radio"
          data-frequency="<%- frequency %>"
          type="text"
          inputmode="numeric" 
          min="<%- minimum %>"
          autocomplete="off"
          placeholder="<%- placeholder %>">
      </span>
    </div>
  </script>
  
  <fieldset id="payment-providers" class="payment-providers">
    <label class="payment-provider paypal-provider">
      <input type="radio" name="provider" value="paypal">
      <span class="payment-provider-icons"></span>
      <svg width="80" viewBox="0 0 526.77502 140.375"><title>PayPal</title><g transform="matrix(1.25,0,0,-1.25,0,140.375)"><g transform="scale(0.1,0.1)"><path style="fill:#283b82;fill-opacity:1;fill-rule:nonzero;stroke:none" d="m 505.703,1122.93 -327.781,0 c -22.434,0 -41.508,-16.3 -45.008,-38.45 L 0.34375,243.961 C -2.29297,227.383 10.5547,212.426 27.375,212.426 l 156.488,0 c 22.43,0 41.504,16.293 45.004,38.484 l 35.754,226.699 c 3.453,22.196 22.574,38.493 44.957,38.493 l 103.766,0 c 215.918,0 340.531,104.484 373.078,311.535 14.664,90.586 0.621,161.758 -41.797,211.603 -46.586,54.74 -129.215,83.69 -238.922,83.69 z M 543.52,815.941 C 525.594,698.324 435.727,698.324 348.832,698.324 l -49.461,0 34.699,219.656 c 2.063,13.278 13.563,23.055 26.985,23.055 l 22.668,0 c 59.191,0 115.031,0 143.882,-33.738 17.208,-20.133 22.481,-50.039 15.915,-91.356" /><path style="fill:#283b82;fill-opacity:1;fill-rule:nonzero;stroke:none" d="m 1485.5,819.727 -156.96,0 c -13.37,0 -24.92,-9.778 -26.99,-23.055 l -6.94,-43.902 -10.98,15.914 c -33.98,49.32 -109.76,65.804 -185.39,65.804 -173.451,0 -321.599,-131.371 -350.451,-315.656 -15,-91.926 6.328,-179.828 58.473,-241.125 47.832,-56.363 116.273,-79.848 197.708,-79.848 139.76,0 217.26,89.86 217.26,89.86 l -7,-43.614 c -2.64,-16.679 10.21,-31.632 26.94,-31.632 l 141.38,0 c 22.48,0 41.46,16.297 45.01,38.484 l 84.83,537.234 c 2.69,16.536 -10.11,31.536 -26.89,31.536 z M 1266.71,514.23 c -15.14,-89.671 -86.32,-149.875 -177.09,-149.875 -45.58,0 -82.01,14.622 -105.401,42.325 -23.196,27.511 -32.016,66.668 -24.633,110.285 14.137,88.906 86.514,151.066 175.894,151.066 44.58,0 80.81,-14.808 104.68,-42.746 23.92,-28.23 33.4,-67.629 26.55,-111.055" /><path style="fill:#283b82;fill-opacity:1;fill-rule:nonzero;stroke:none" d="m 2321.47,819.727 -157.73,0 c -15.05,0 -29.19,-7.477 -37.72,-19.989 L 1908.47,479.289 1816.26,787.23 c -5.8,19.27 -23.58,32.497 -43.71,32.497 l -155,0 c -18.84,0 -31.92,-18.403 -25.93,-36.137 L 1765.36,273.727 1602.02,43.1406 C 1589.17,24.9805 1602.11,0 1624.31,0 l 157.54,0 c 14.95,0 28.95,7.28906 37.43,19.5586 L 2343.9,776.828 c 12.56,18.121 -0.33,42.899 -22.43,42.899" /><path style="fill:#469bdb;fill-opacity:1;fill-rule:nonzero;stroke:none" d="m 2843.7,1122.93 -327.83,0 c -22.38,0 -41.46,-16.3 -44.96,-38.45 L 2338.34,243.961 c -2.63,-16.578 10.21,-31.535 26.94,-31.535 l 168.23,0 c 15.62,0 29,11.402 31.44,26.933 l 37.62,238.25 c 3.45,22.196 22.58,38.493 44.96,38.493 l 103.72,0 c 215.96,0 340.53,104.484 373.12,311.535 14.72,90.586 0.58,161.758 -41.84,211.603 -46.54,54.74 -129.12,83.69 -238.83,83.69 z m 37.82,-306.989 C 2863.64,698.324 2773.78,698.324 2686.83,698.324 l -49.41,0 34.75,219.656 c 2.06,13.278 13.46,23.055 26.93,23.055 l 22.67,0 c 59.15,0 115.03,0 143.88,-33.738 17.21,-20.133 22.43,-50.039 15.87,-91.356" /><path style="fill:#469bdb;fill-opacity:1;fill-rule:nonzero;stroke:none" d="m 3823.46,819.727 -156.87,0 c -13.47,0 -24.93,-9.778 -26.94,-23.055 l -6.95,-43.902 -11.02,15.914 c -33.98,49.32 -109.71,65.804 -185.34,65.804 -173.46,0 -321.55,-131.371 -350.41,-315.656 -14.95,-91.926 6.28,-179.828 58.43,-241.125 47.93,-56.363 116.27,-79.848 197.7,-79.848 139.76,0 217.26,89.86 217.26,89.86 l -7,-43.614 c -2.63,-16.679 10.21,-31.632 27.04,-31.632 l 141.34,0 c 22.38,0 41.46,16.297 44.96,38.484 l 84.88,537.234 c 2.58,16.536 -10.26,31.536 -27.08,31.536 z M 3604.66,514.23 c -15.05,-89.671 -86.32,-149.875 -177.09,-149.875 -45.49,0 -82.01,14.622 -105.4,42.325 -23.19,27.511 -31.92,66.668 -24.63,110.285 14.23,88.906 86.51,151.066 175.9,151.066 44.57,0 80.8,-14.808 104.67,-42.746 24.01,-28.23 33.5,-67.629 26.55,-111.055" /><path style="fill:#469bdb;fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 4008.51,1099.87 3873.97,243.961 c -2.63,-16.578 10.21,-31.535 26.94,-31.535 l 135.25,0 c 22.48,0 41.56,16.293 45.01,38.484 l 132.66,840.47 c 2.64,16.59 -10.2,31.59 -26.93,31.59 l -151.46,0 c -13.37,-0.04 -24.87,-9.83 -26.93,-23.1" /></g></g></svg>
    </label>
    <label class="payment-provider stripe-provider">
      <input type="radio" name="provider" value="stripe" checked>
      {{ get_string("credit-card", "payment-form") }}
      <span class="stripe-payment-icons">
        <svg width="20" viewBox="0 0 32 32"><title>Visa</title><g fill="none" fill-rule="evenodd"><path d="M0 0h32v32H0z" fill="#00579f"></path><g fill="#fff" fill-rule="nonzero"><path d="M13.823 19.876H11.8l1.265-7.736h2.023zm7.334-7.546a5.036 5.036 0 0 0-1.814-.33c-1.998 0-3.405 1.053-3.414 2.56-.016 1.11 1.007 1.728 1.773 2.098.783.379 1.05.626 1.05.963-.009.518-.633.757-1.216.757-.808 0-1.24-.123-1.898-.411l-.267-.124-.283 1.737c.475.213 1.349.403 2.257.411 2.123 0 3.505-1.037 3.521-2.641.008-.881-.532-1.556-1.698-2.107-.708-.354-1.141-.593-1.141-.955.008-.33.366-.667 1.165-.667a3.471 3.471 0 0 1 1.507.297l.183.082zm2.69 4.806l.807-2.165c-.008.017.167-.452.266-.74l.142.666s.383 1.852.466 2.239h-1.682zm2.497-4.996h-1.565c-.483 0-.85.14-1.058.642l-3.005 7.094h2.123l.425-1.16h2.597c.059.271.242 1.16.242 1.16h1.873zm-16.234 0l-1.982 5.275-.216-1.07c-.366-1.234-1.515-2.575-2.797-3.242l1.815 6.765h2.14l3.18-7.728z"></path><path d="M6.289 12.14H3.033L3 12.297c2.54.641 4.221 2.189 4.912 4.049l-.708-3.556c-.116-.494-.474-.633-.915-.65z"></path></g></g></svg>
        <svg width="20" viewBox="0 0 32 32"><title>Mastercard</title><g fill="none" fill-rule="evenodd"><path d="M0 0h32v32H0z"></path><g fill-rule="nonzero"><path d="M13.02 10.505h5.923v10.857H13.02z" fill="#ff5f00"></path><path d="M13.396 15.935a6.944 6.944 0 0 1 2.585-5.43c-2.775-2.224-6.76-1.9-9.156.745s-2.395 6.723 0 9.368 6.38 2.969 9.156.744a6.944 6.944 0 0 1-2.585-5.427z" fill="#eb001b"></path><path d="M26.934 15.935c0 2.643-1.48 5.054-3.81 6.21s-5.105.851-7.143-.783a6.955 6.955 0 0 0 2.587-5.428c0-2.118-.954-4.12-2.587-5.429 2.038-1.633 4.81-1.937 7.142-.782s3.811 3.566 3.811 6.21z" fill="#f79e1b"></path></g></g></svg>
        <svg width="20" viewBox="0 0 32 32"><title>American Express</title><g fill="none" fill-rule="evenodd"><path fill="#0193CE" d="M0 0h32v32H0z"></path><path d="M17.79 18.183h4.29l1.31-1.51 1.44 1.51h1.52l-2.2-2.1 2.21-2.27h-1.52l-1.44 1.51-1.26-1.5H17.8v-.85h4.68l.92 1.18 1.09-1.18h4.05l-3.04 3.11 3.04 2.94h-4.05l-1.1-1.17-.92 1.17h-4.68v-.84zm3.67-.84h-2.53v-.84h2.36v-.83h-2.36v-.84h2.7l1.01 1.26-1.18 1.25zm-14.5 1.68h-3.5l2.97-6.05h2.8l.35.67v-.67h3.5l.7 1.68.7-1.68h3.31v6.05h-2.63v-.84l-.34.84h-2.1l-.35-.84v.84H8.53l-.35-1h-.87l-.35 1zm9.96-.84v-4.37h-1.74l-1.4 3.03-1.41-3.03h-1.74v4.04l-2.1-4.04h-1.4l-2.1 4.37h1.23l.35-1h2.27l.35 1h2.43v-3.36l1.6 3.36h1.05l1.57-3.36v3.36h1.04zm-8.39-1.85l-.7-1.85-.87 1.85h1.57z" fill="#FFF"></path></g></svg>  
      </span>
    </label>
  </fieldset>

  <script>
    path("i18n.payment.stripe.cardModal", {
      once: "{{ get_string("pay-once", "payment-form") }}",
      monthly: "{{ get_string("pay-monthly", "payment-form") }}",
      yearly: "{{ get_string("pay-yearly", "payment-form") }}",
      error_unexpected: "{{ get_string("stripe-sorry", "payment-form") }}",
      error_card_brand: "{{ get_string("not-supported", "payment-form") }}",
      error_declined: "{{ get_string("stripe-declined", "payment-form") }}"
    });
  </script>

  <div id="stripe-card-body" class="stripe-card-body">
    <input 
      type="email" 
      id="stripe-card-email" 
      name="email" 
      class="stripe-card-field"
      placeholder="{{ get_string("email-input", "payment-form") }}" />
    <div id="stripe-card" class="stripe-card-field"></div>
  </div>

  <p id="payment-error" class="payment-error alert"></p>

  <div id="payment-buttons" class="payment-buttons">
    <button id="stripe-button" class="stripe-button">
      <span class="submitting-spinner" rale="status">
        <span class="spinner-grow" aria-hidden="true"></span>
        <span class="spinner-grow" aria-hidden="true"></span>
        <span class="spinner-grow" aria-hidden="true"></span>
      </span>
      <span id="stripe-card-submit-label" class="submitting-label">
        {{ get_string("stripe-label", "payment-form") }}
      </span>
    </button>
    <button id="paypal-button" class="paypal-button">
      {{ get_string("paypal-label", "payment-form") }}
    </button>
  </div>
  
</form>
