.payment-form-skeleton { display: block; }
.payment-form-loaded .payment-form-skeleton { display: none; }

@media (min-width: 850px)
{
  .payment-form-skeleton { max-height: 256px; overflow: visible; }
}

.payment-form { display: none; }
.payment-form-loaded .payment-form { display: block; }

.payment-form input[type="radio"] { margin: 2px 0 0 0; }

[dir="ltr"] .payment-form input[type="radio"] { margin-right: 0.3rem; }
[dir="rtl"] .payment-form input[type="radio"] { margin-left: 0.3rem; }

.payment-form ::placeholder { color: #aab7c4; }

.payment-form select,
.payment-form input[type="text"] 
{ 
  padding: 0 0.2rem; 
  line-height: 1rem;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
}

[dir="ltr"] .payment-form input[type="text"] { margin-left: 0.2rem; }
[dir="rtl"] .payment-form input[type="text"] { margin-right: 0.2rem; }

.payment-header { margin-bottom: 1rem; }

.payment-heading { font-size: 24px !important; }

.payment-heading.single-currency { display: block; }

.payment-heading.multi-currency { display: inline; }

.payment-currency
{
  padding: 0;
  line-height: 1;
}

@media (min-width: 850px)
{
  .payment-frequencies { display: flex; }
}

.payment-frequency legend { margin: 1rem 0 0.5rem 0; }

.payment-amounts-row { display: flex; }

.payment-amounts-row { margin-bottom: 0.25rem; }

.payment-frequency { display: block; }

.payment-amount,
.custom-payment-amount 
{ 
  display: flex;
  align-items: center;
}

[dir="ltr"] .payment-amount { margin-right: 1rem; }
[dir="rtl"] .payment-amount { margin-left: 1rem; }

.payment-amount.custom-payment-amount { margin: 0; }

.custom-payment-amount { position: relative; }

.custom-payment-amount input[type="text"] { width: 3.6rem; }

.payment-divide
{
  display: block;
  height: 2px;
  background-color: rgba(232, 232, 232, 0.667);
  border: 0;
  margin: 1rem 0;
}

@media (min-width: 850px)
{
  .payment-divide
  {
    height: 3rem;
    width: 2px;
    margin: 2rem 1.5rem 0 1.5rem;
    padding: 0;
  }
}

.has-monthly .payment-divide:first-of-frequency { display: block; }

.has-yearly .payment-divide { display: block; }

.payment-providers
{
  display: flex;
  margin: 1rem 0;
  padding: 0;
  font-weight: bolder;
}

.payment-provider,
.payment-provider span
{ 
  display: flex;
  align-items: center; 
}

[dir="ltr"] .stripe-payment-icons { margin-left: 0.3rem; }
[dir="rtl"] .stripe-payment-icons { margin-right: 0.3rem; }

[dir="ltr"] .payment-provider { margin-right: 1rem; }
[dir="rtl"] .payment-provider { margin-left: 1rem; }

@media(min-width: 360px)
{
  [dir="ltr"] .payment-provider input[type="radio"] { margin-right: 0.5rem; }
  [dir="rtl"] .payment-provider input[type="radio"] { margin-left: 0.5rem; }

  [dir="ltr"] .stripe-payment-icons { margin-left: 0.5rem; }
  [dir="rtl"] .stripe-payment-icons { margin-right: 0.5rem; }
  
  [dir="ltr"] .payment-provider { margin-right: 2.5rem; }
  [dir="rtl"] .payment-provider { margin-left: 2.5rem; }  
}

.payment-error { display: none; }
.has-error .payment-error { display: block; }

.payment-buttons { margin-top: 1.5rem; }

.payment-buttons button { display: none; }

[data-provider="stripe"] .stripe-button,
[data-provider="paypal"] .paypal-button { display: block; }

@media (min-width: 850px)
{
  .payment-buttons { display: flex; }
}

.payment-buttons button
{
  width: 100%;
  padding: 0 1.8rem;
  min-height: 34px;
  margin-top: 1rem;
  line-height: 32px;
  text-align: center;
  font-weight: bolder;
  border: 0;
  border-radius: 3.5px;
}

.payment-buttons button[disabled] { background-color: #bcbcbc; }

@media (min-width: 850px)
{
  [data-provider="stripe"] .stripe-button,
  [data-provider="paypal"] .paypal-button { display: inline-block; }
  
  .payment-buttons button
  {
    min-width: 150px;
    width: auto;
    margin-top: 0;
  }

  [dir="ltr"] .payment-buttons button { margin-right: 1rem; }

  [dir="rtl"] .payment-buttons button { margin-left: 1rem; }
}

.stripe-button
{
  color: #fff;
  background-color: #0AAD03;
  overflow: hidden;
}

.paypal-button
{
  color: #000;
  background-color: rgb(255, 187, 3);
}